ch04/ch3_all_flows.json
[{"id":"b704c867.534e98","type":"ui_button","z":"65981cfc.f2a074","name":"","group":"248cbbb0.18e794","order":0,"width":"3","height":"3","passthru":false,"label":"開啟","tooltip":"","color":"","bgcolor":"","icon":"apple","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":270,"y":120,"wires":[["bfd300fc.9119b"]]},{"id":"bfd300fc.9119b","type":"debug","z":"65981cfc.f2a074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":120,"wires":[]},{"id":"304e12d9.5328ae","type":"ui_button","z":"65981cfc.f2a074","name":"","group":"248cbbb0.18e794","order":1,"width":"3","height":"3","passthru":false,"label":"關閉","tooltip":"","color":"#ffff00","bgcolor":"#0066ff","icon":"office","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":270,"y":180,"wires":[["bfd300fc.9119b"]]},{"id":"3d808cbd.363e64","type":"ui_text_input","z":"65981cfc.f2a074","name":"","label":"輸入姓名:","tooltip":"","group":"a0954be5.a7f7e8","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":280,"y":240,"wires":[["9b262bb1.709268"]]},{"id":"9b262bb1.709268","type":"debug","z":"65981cfc.f2a074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":240,"wires":[]},{"id":"3d741cac.7409c4","type":"ui_slider","z":"65981cfc.f2a074","name":"","label":"PWM值: ","tooltip":"","group":"248cbbb0.18e794","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"255","step":1,"x":280,"y":300,"wires":[["36cb78d3.b93858"]]},{"id":"36cb78d3.b93858","type":"debug","z":"65981cfc.f2a074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":300,"wires":[]},{"id":"bcb81187.9299c","type":"ui_numeric","z":"65981cfc.f2a074","name":"","label":"輸入成績: ","tooltip":"","group":"248cbbb0.18e794","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"成績分數: {{value}} 分","min":0,"max":"100","step":1,"x":280,"y":360,"wires":[["826f33e7.b8c4e"]]},{"id":"826f33e7.b8c4e","type":"debug","z":"65981cfc.f2a074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":360,"wires":[]},{"id":"cb786650.96dc98","type":"ui_switch","z":"65981cfc.f2a074","name":"","label":"GPS定位: ","tooltip":"","group":"a0954be5.a7f7e8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"On","onvalueType":"str","onicon":"location_on","oncolor":"green","offvalue":"Off","offvalueType":"str","officon":"location_off","offcolor":"red","animate":false,"x":280,"y":420,"wires":[["eaad854d.5bf448"]]},{"id":"eaad854d.5bf448","type":"debug","z":"65981cfc.f2a074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":420,"wires":[]},{"id":"b09caf93.934a","type":"inject","z":"65981cfc.f2a074","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"options","v":"[{\"溫度\":0},{\"溼度\":1},{\"光線\":2}]","vt":"json"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":480,"wires":[["a1549e8a.58b72"]]},{"id":"362809f8.bb4456","type":"debug","z":"65981cfc.f2a074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":480,"wires":[]},{"id":"a1549e8a.58b72","type":"ui_dropdown","z":"65981cfc.f2a074","name":"","label":"選擇感測器?","tooltip":"","place":"感測器種類","group":"a0954be5.a7f7e8","order":5,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":490,"y":480,"wires":[["362809f8.bb4456"]]},{"id":"248cbbb0.18e794","type":"ui_group","name":"MyGroup","tab":"3f79c420.cfc1bc","order":1,"disp":true,"width":"6","collapse":false},{"id":"a0954be5.a7f7e8","type":"ui_group","name":"MyInput","tab":"3f79c420.cfc1bc","order":2,"disp":true,"width":"6","collapse":false},{"id":"3f79c420.cfc1bc","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]